Repository PavingLayer/jdbg: changes, and which Codecov flags are due for each by the changed paths.
All: java, rust, Java Server, Rust CLI

Update GitHub URLs to PavingLayer/jdbg
  README.md
Due: none

Fix: Use correct Rust toolchain action name
  .github/workflows/integration-tests.yml
Due: none

Fix: Download JaCoCo via curl instead of Maven
  .github/workflows/integration-tests.yml
Due: none

Fix: Install protoc in test and coverage jobs
  .github/workflows/integration-tests.yml
Due: none

Fix: Use absolute path for JACOCO_AGENT and add debug output
  .github/workflows/integration-tests.yml
Due: none

Add GitHub Pages deployment workflow for documentation
  .github/workflows/docs.yml
Due: none

Fix: Add protobuf-compiler to Dockerfile
  test/Dockerfile
Due: none

Fix: Install mdbook-mermaid and update GitHub URLs
  .github/workflows/docs.yml
  doc/book.toml
Due: none

Fix: Run mdbook-mermaid install to generate mermaid files
  .github/workflows/docs.yml
Due: none

Add compiled expression evaluation infrastructure
  server/src/main/java/dev/jdbg/server/DebuggerServiceImpl.java
  server/src/main/java/dev/jdbg/server/eval/ExpressionCompiler.java
  server/src/main/java/dev/jdbg/server/eval/ExpressionEvaluator.java
Due: java, Java Server

Replace compiled expression eval with JDI interpreter
  .gitignore
  server/src/main/java/dev/jdbg/server/DebuggerServiceImpl.java
  server/src/main/java/dev/jdbg/server/eval/ExpressionCompiler.java
  server/src/main/java/dev/jdbg/server/eval/ExpressionEvaluator.java
  server/src/main/java/dev/jdbg/server/eval/ExpressionParser.java
  server/src/main/java/dev/jdbg/server/eval/JdiInterpreter.java
Due: java, Java Server

Add comprehensive tests for expression evaluation
  cli/tests/breakpoint_tests.rs
  cli/tests/common/mod.rs
  cli/tests/eval_tests.rs
  cli/tests/exception_tests.rs
  cli/tests/execution_tests.rs
  cli/tests/frame_tests.rs
  cli/tests/integration_tests.rs
  cli/tests/session_tests.rs
  cli/tests/thread_tests.rs
  server/src/main/java/dev/jdbg/server/eval/ExpressionParser.java
  server/src/test/java/dev/jdbg/server/eval/ExpressionParserTest.java
  test/README.md
Due: java, Java Server

Update eval documentation with full expression support
  doc/src/commands/eval.md
Due: none

Fix CI workflow for new test file structure
  .github/workflows/integration-tests.yml
Due: none

Update documentation URLs to PavingLayer/jdbg
  doc/src/guide/getting-started.md
  doc/src/guide/installation.md
Due: none

Add multi-platform release workflow and update installation docs
  .github/workflows/release.yml
  doc/src/guide/getting-started.md
  doc/src/guide/installation.md
Due: none

Add support for static method calls and field access in expression evaluation
  cli/tests/eval_tests.rs
  doc/src/commands/eval.md
  server/src/main/java/dev/jdbg/server/eval/JdiInterpreter.java
  test/test-target/src/main/java/com/jdbg/test/Main.java
Due: java, Java Server

feat(events): add non-blocking event retrieval for automation
  cli/src/client.rs
  cli/src/commands/events.rs
  cli/src/commands/mod.rs
  cli/src/main.rs
  doc/src/SUMMARY.md
  doc/src/commands/events.md
  proto/jdbg.proto
  server/src/main/java/dev/jdbg/server/DebugSession.java
  server/src/main/java/dev/jdbg/server/DebuggerServiceImpl.java
  server/src/main/java/dev/jdbg/server/EventProcessor.java
Due: java, rust, Java Server, Rust CLI

test(events): add integration tests for non-blocking event retrieval
  cli/tests/events_tests.rs
Due: none

feat: add status command and session naming
  README.md
  cli/src/client.rs
  cli/src/commands/mod.rs
  cli/src/commands/session.rs
  cli/src/commands/status.rs
  cli/src/main.rs
  cli/src/output.rs
  doc/src/SUMMARY.md
  doc/src/commands/events.md
  doc/src/commands/session.md
  doc/src/commands/status.md
  proto/jdbg.proto
  server/src/main/java/dev/jdbg/server/DebugSession.java
  server/src/main/java/dev/jdbg/server/DebuggerServiceImpl.java
  server/src/main/java/dev/jdbg/server/SessionManager.java
Due: java, rust, Java Server, Rust CLI

docs: improve documentation structure and add how-to guides
  README.md
  doc/book.toml
  doc/custom.css
  doc/src/SUMMARY.md
  doc/src/contributing/index.md
  doc/src/howto/automation.md
  doc/src/howto/debug-running-app.md
  doc/src/howto/find-bug.md
  doc/src/howto/index.md
  doc/src/howto/multi-threaded.md
  doc/src/intro.md
  doc/src/reference/grpc-api.md
Due: none

fix: add missing name parameter in test helper
  cli/tests/common/mod.rs
Due: none

chore: bump version to 0.2.0
  cli/Cargo.toml
  server/pom.xml
Due: none

feat: add --json flag as shorthand for -f json
  cli/src/main.rs
Due: rust, Rust CLI

Publish Google Search Console verification file on the docs site.
  .github/workflows/docs.yml
  doc/googleea9c9527f867b24c.html
Due: none

docs: fix Lighthouse a11y and performance findings on the docs site
  .github/workflows/docs.yml
  doc/book.toml
  doc/custom.css
  doc/mermaid-loader.js
  doc/sidebar-toggle-a11y.js
  doc/theme/fonts/fonts.css
  doc/theme/head.hbs
  doc/theme/index.hbs
  scripts/build-docs.sh
Due: none

docs: avoid forced reflows in the mdBook sidebar toggle
  doc/sidebar-toggle-a11y.js
  doc/theme/index.hbs
Due: none

docs: add sitemap, crawlable nav, and per-page SEO metadata
  .github/workflows/docs.yml
  doc/book.toml
  doc/src/SUMMARY.md
  doc/src/commands/index.md
  doc/src/contributing/index.md
  doc/src/guide/getting-started.md
  doc/src/guide/installation.md
  doc/src/guide/quickstart.md
  doc/src/howto/index.md
  doc/src/index.md
  doc/theme/head.hbs
  doc/theme/index.hbs
  scripts/build-docs.sh
  scripts/seo-docs.py
Due: none

Path conditions:
  java: any of: server/src/main/java/, but not: server/target/**, cli/target/**, **/test/**, **/tests/**, **/*_test.rs, **/*Test.java
  rust: any of: cli/src/, but not: server/target/**, cli/target/**, **/test/**, **/tests/**, **/*_test.rs, **/*Test.java
  Java Server: any of: server/src/main/java/**, but not: server/target/**, cli/target/**, **/test/**, **/tests/**, **/*_test.rs, **/*Test.java
  Rust CLI: any of: cli/src/**, but not: server/target/**, cli/target/**, **/test/**, **/tests/**, **/*_test.rs, **/*Test.java
